@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.addtocart2-main {
  background: #f9f9f9;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.addtocart2-main .left-box {
  height: 89vh;
  overflow: hidden;
  overflow-y: scroll;
}
.addtocart2-main .right-box {
    height: 89vh;
    overflow: hidden;
    overflow-y: scroll;
  }

.addtocart2-main .left-box h1 {
  font-size: 20px;
  color: rgb(51, 51, 51);
}

@media only screen and (max-width: 600px) {
  .addtocart2-main .left-box {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
  }
  .addtocart2-main .right-box {
      height: auto;
      overflow: hidden;
      overflow-y: scroll;
    }
}

.addtocart2-main .left-box .product-box {
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  overflow: hidden;
}

.addtocart2-main .left-box .product-box img {
  height: 140px;
  width: 140px;
}

.addtocart2-main .left-box .product-box .img-box {
  height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

.addtocart2-main .left-box .product-box h4{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    color: rgb(51, 51, 51);
}
.addtocart2-main .left-box .product-box h3{
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 22px;
    color: rgb(51, 51, 51);
}

.addtocart2-main .left-box .product-box h5{
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 22px;
    color: rgb(51, 51, 51);
    text-decoration: underline;
}

.addtocart2-main .left-box .product-box .quantity-box{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    
}

.addtocart2-main .left-box .product-box .quantity-box button{
    width: 40px;
    height: 40px;
    color: rgb(51, 51, 51);
    border: none;
}
.addtocart2-main .left-box .product-box .quantity-box .count-btn{
   border-left: 1px solid rgb(199, 197, 197);
   border-right: 1px solid rgb(199, 197, 197);
}

.addtocart2-main .left-box .product-box .remove-btn{
   border: 1px solid rgb(169, 15, 20);
   background-color: transparent;
   color: rgb(169, 15, 20);
   border-radius: 30px;
}
.addtocart2-main .left-box .product-box .remove-btn:hover{
    border: 1px solid rgb(206, 82, 86);
    background-color: transparent;
    color: white;
    background-color: rgb(206, 82, 86);
 }



 .addtocart2-main .right-box h1 {
    font-size: 20px;
    color: rgb(51, 51, 51);
  }

  .addtocart2-main .right-box .summary-box {
    min-height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    overflow: hidden;
  }

  .addtocart2-main .right-box .summary-box .img-box img {
    height: 50px;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 5px;
    
  }

  .addtocart2-main .right-box .summary-box h4{
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    /* line-height: 22px; */
    color: rgb(51, 51, 51);
  }

  .addtocart2-main .right-box .summary-box h3{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(51, 51, 51);
  }

  .addtocart2-main .right-box .summary-box .line{
    border-bottom: 1px solid rgb(203, 202, 202);
  }

  .addtocart2-main .right-box .summary-box .total-box h5{
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    color: rgb(51, 51, 51);
    font-weight: 400;
  }

  .addtocart2-main .right-box .summary-box .checkout-btn button{
    background-color: black;
    border: none;
    height: 50px;
    border-radius: 30px;
    transition: 0.2s ease;
  }

  .addtocart2-main .right-box .summary-box .checkout-btn button:hover{
    background-color: #545454;
    border: none;
    height: 50px;
    border-radius: 30px;
  }

  .addtocart2-main .right-box .summary-box h6{
    color: rgb(98, 95, 95);
    font-size: 0.8rem;
    font-weight: 400;
  }

  .addtocart2-main .cart-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  .addtocart2-main .cart-empty h1{
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
  }

  .addtocart2-main .cart-empty button{
    background-color: black;
    border: none;
    height: 50px;
    border-radius: 30px;
    transition: 0.2s ease;
  }

  .addtocart2-main .cart-empty button:hover{
    background-color: #545454;
    border: none;
    height: 50px;
    border-radius: 30px;
  }