@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.main-footer{
    background-color: #F6F6F8;
    font-family: 'Poppins', sans-serif;
}

.main-footer a{
    text-decoration: none;
}
.main-footer .a-icon{
    font-size: 23px;
}

.main-footer .a-icon i:hover{
    color: #A749FF;
    transition: 0.3s ease-in;
}

.main-footer h5{
    color: black;
    font-weight: bold;
}

.main-footer a{
    color: rgb(47, 47, 47);
    
}
.main-footer p{
    color: rgb(47, 47, 47);
    
}