@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.mostwanted-main{
    background: #F9F9F9;
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
}

.mostwanted-main h2{
    font-size: 1.5rem;
    letter-spacing: 1px;
    /* font-weight: 500; */
}

.mostwanted-main h2 span{
    font-size: 1rem;
    font-weight: 300;
    color: #121212;
    letter-spacing: 0px;

}


.mostwanted-main  .slider-card .swiper {
    width: 100%;
    height: 100%;
    margin: 10px 0px;
}

.mostwanted-main .slider-card .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #F9F9F9;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mostwanted-main .slider-card .swiper-slide img {
    /* display: block; */
    /* width: 100%; */
    height: 60vh;
    /* object-fit: cover; */
    /* border-radius: 10px; */
}

.mostwanted-main .slider-card .card-1{
    /* height: 385px; */
    height: auto;
    background: white;
    width: 100%;
    border-radius: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    overflow: hidden;
    overflow-wrap: break-word;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.2s ease;
}

.mostwanted-main .slider-card .card-2{
    height: auto;
    background: white;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    overflow-wrap: break-word;
    cursor: pointer;
    transition: 0.2s ease;
    border: 2px solid #488E2A;
}

.mostwanted-main .slider-card .card-1:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mostwanted-main .slider-card .card-1 h4{
    font-size: 1rem;
    font-weight: 500;
    background: #F9F9F9;
    border-radius: 5px;
}

.mostwanted-main .slider-card .card-1 .img-box img{
    height: 200px;
    width: 300px;
}

.mostwanted-main .slider-card .card-1 h2{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0px;
}

.mostwanted-main .slider-card .card-1 h5{
    font-size: 0.9rem;
    font-weight: 400;
    color: #121212;
}

.mostwanted-main .swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}
